/*
 * style.css
 */
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    background-color: lightgrey;
}
.row {
    margin-bottom: 20px;
}
header, footer, nav, aside, section, div[role="main"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #dddddd;
    /*background-color: rgb(86,61,124);*/
    /*border: 1px solid seashell;
    /*border: 1px solid rgb(86,61,124);*/
    text-align: center;
}
div[role="main"] {
    background-color: #ffffff;
}

h1 {
    font-weight: bold;
}